/vendor
/node_modules
/pages/*
!/pages/.*
/resources/views/generated/*
!/resources/views/generated/.*
!/resources/views/generated/views
/resources/views/generated/views/*
!/resources/views/generated/views/.*
Homestead.yaml
Homestead.json
.env
/.idea
